:root{
    --green: #74BC22;
    --white: #fff;
}

.catalogo-item{
    margin-bottom: 4%;
}

.navbar-brand img{
    max-width: 30%;
}

.telefono {
    background-color: var(--green);
}

#home h1 span, h2 span, #about .col-md-4:first-child, #team .team-wrapper .team-des h4, #carga_proyecto .col-md-4:first-child, #cobertura .media-heading-wrapper h2, #equipos .team-wrapper .team-des h4, #contact address .address-title, #contact label, a{
    color: var(--green);
}
#about .col-md-4:first-child, #team .team-wrapper .team-des p a, #carga_proyecto .col-md-4:first-child {
    background-color: var(--green);
}

.cert-item{
    margin-bottom: 3%;
}

.crossfade>figure:nth-child(1) {
    background-image: url(../images/bg_1.jpg) !important;
}
.crossfade>figure:nth-child(2) {
    background-image: url(../images/home/home1.jpg) !important;
}
.crossfade>figure:nth-child(3) {
    background-image: url(../images/bg_1.jpg) !important;
}
.crossfade>figure:nth-child(4) {
    background-image: url(../images/home/westpeak-cover.jpeg) !important;
}
#equipos img, #sectoresDeAtencion img{
    max-height: 257px;
    object-fit: cover;
    object-position: center;
}
#partners{
    background-color: var(--white);
    min-height: 350px;
}
img.elegirnos{
    margin-top: 6%;
}
.ico-serv{
    width: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mision .servicios{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

/* .navbar-brand.current{ */
.navbar-brand{
    max-width: 180px !important;
}
/* .navbar-brand.current img{ */
.navbar-brand img{
    margin: 0px;
}

.navbar.navbar-default.templatemo-nav > .container, .navbar.navbar-default.templatemo-nav > .container .navbar-header{
    height: 100%;
}

/* .navbar.navbar-default.templatemo-nav > .container .navbar-header .navbar-brand.current{ */
.navbar.navbar-default.templatemo-nav > .container .navbar-header .navbar-brand{
    padding: 0px 0px 0px 10px;
    height: 100%;
}

/* .navbar.navbar-default.templatemo-nav > .container .navbar-header .navbar-brand.current img{ */
.navbar.navbar-default.templatemo-nav > .container .navbar-header .navbar-brand img{
    height: 100%;
    min-height: 100%;
    max-width: 100%;
}

#home > .container{
    min-height: 250px;
}

.servicios.valores{
    margin-bottom: 4%;
}

#mision img{
    width: 35%;
    margin-top: 10%;
}

@media only screen and (max-width: 980px){
    #mision img {
        /* position: relative !important; */
        margin: auto;
        width: 50%;
    }
}

.team-wrapper img{
    height: 328px;
    max-height: 328px !important;
    width: 100%;
    object-fit: cover;
}

.navbar.navbar-default.templatemo-nav{
    background-color: #fff !important;
}