:root{
    --green: #74BC22;
    --greenAlt: #2E8B57;
    --white: #fff;
}

*{
    transition: all 1s;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Figtree', sans-serif !important;
}

body{
    background-color: #fff !important;
}

.catalogo-item{
    margin-bottom: 4%;
}

.navbar-brand img{
    max-width: 30%;
}

.nav.navbar-nav.navbar-right .dropdown:hover .dropdown-content{
    /* opacity: 1; */
    display: block;
    /* transition: all 1s; */
    animation: navAnimation .4s linear 0s;
}


@keyframes navAnimation{
    0%{
        animation-timing-function: ease-in;
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}




.telefono {
    background-color: var(--green);
}

#home h1 span, h2 span, #about .col-md-4:first-child, #team .team-wrapper .team-des h4, #carga_proyecto .col-md-4:first-child, #cobertura .media-heading-wrapper h2, #equipos .team-wrapper .team-des h4, #contact address .address-title, #contact label, a{
    color: var(--green);
}
#about .col-md-4:first-child, #team .team-wrapper .team-des p a, #carga_proyecto .col-md-4:first-child {
    background-color: var(--green);
}

.cert-item{
    margin-bottom: 3%;
}

/* .crossfade>figure:nth-child(1) {
    background-image: url(../images/home1.jpg) !important;
}
 .crossfade>figure:nth-child(2) {
    background-image: url(../images/home/home2low.jpg) !important;
} */
/*
.crossfade>figure:nth-child(3) {
    background-image: url(../images/home/home1.jpg) !important;
} */
/* .crossfade>figure:nth-child(4) {
    background-image: url(../images/home/westpeak-cover.jpeg) !important;
} */

.blur{
    backdrop-filter: blur(5px);
    border-radius: 3px;
    min-height: 310px;
}
#home{
    min-height: 660px !important;
}
#equipos img, #sectoresDeAtencion img{
    max-height: 257px;
    object-fit: cover;
    object-position: center;
}
#sectoresDeAtencion .team-wrapper, #sectoresDeAtencion .team-wrapper img, #certificaciones .cert-item .img-responsive, #team .catalogo-item .team-wrapper, #team .catalogo-item .team-wrapper .cat-img-container, #carga_proyecto .fadeInLeft.animated, #contact-form{
    border-radius: 3px;
}
#team .catalogo-item .team-wrapper p.boton a{
    border-radius: 0px 0px 3px 3px;
}

#partners{
    background-color: var(--white);
    min-height: 350px;
}
#partners h2{
    margin-bottom: 20px !important;
}
img.elegirnos{
    margin: auto;
    margin-top: 6% !important;
    max-height: 550px !important;
}


.ico-serv{
    width: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mision .servicios{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

/* .navbar-brand.current{ */
.navbar-brand{
    max-width: 180px !important;
}
/* .navbar-brand.current img{ */
.navbar-brand img{
    margin: 0px;
}

.navbar.navbar-default.templatemo-nav > .container, .navbar.navbar-default.templatemo-nav > .container .navbar-header{
    height: 100%;
}

/* .navbar.navbar-default.templatemo-nav > .container .navbar-header .navbar-brand.current{ */
.navbar.navbar-default.templatemo-nav > .container .navbar-header .navbar-brand{
    padding: 0px;
    height: 100%;
}

/* .navbar.navbar-default.templatemo-nav > .container .navbar-header .navbar-brand.current img{ */
.navbar.navbar-default.templatemo-nav > .container .navbar-header .navbar-brand img{
    height: 100%;
    min-height: 100%;
    max-width: 100%;
}

#home > .container{
    min-height: 250px;
}

.servicios.valores{
    margin-bottom: 4%;
}

#mision img{
    width: 35%;
    margin-top: 2%;
}



.team-wrapper img{
    height: 328px;
    max-height: 328px !important;
    /* width: 100%; */
    object-fit: cover;
    margin: auto;
}

.team-wrapper .team-des strong{
    text-transform: uppercase;
}

.navbar.navbar-default.templatemo-nav{
    background-color: #fff !important;
}

.logo-container{
    /* min-height: 110px; */
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.cat-img-container{
    background-color: #fff;
    padding: 20px;
}

#partners img{
    width: 85%;
    max-height: 100%;
    object-fit: contain;
}

#carga_proyecto .media .media-body p{
    margin-bottom: 0px;
    text-align: center;
}

#carga_proyecto .media .media-body img{
    max-height: 550px !important;
}

@media only screen and (max-width: 480px){
    #about .wow.fadeInLeft.animated{
        height: 330px;
    }
    #certificaciones img{
        margin: auto;
    }
    #certificaciones .col-xs-6 {
        width: 50% !important;
        padding: 5px;
        margin: 0px;
    }
    #team .team-wrapper img{
        height: auto;
    }
}

/* ANIMACION TITULOS */

#home .element{
    position: absolute;
    bottom: 0px;
    height: 110px;
}

.crossfade.titles h1{
    position: absolute;
}

.crossfade>h1{
    opacity: 0;
    animation: titleAnimation 16s linear infinite 0s;
    /* backface-visibility: hidden; */
    /* background-size: cover; */
    /* background-position: center top; */
    /* color: transparent; */
    /* height: 100%; */
    /* left: 0px; */
    
    /* position: absolute; */
    /* top: 0px; */
    /* width: 100%; */
    /* z-index: 0; */
}


.crossfade>h1:nth-child(1) {
    animation-delay: 0s;
}
.crossfade>h1:nth-child(2) {
    /* opacity: 0 !important; */
    animation-delay: 8s !important;
}


@keyframes titleAnimation {

    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }

    8% {
        
        opacity: 1;
    }

    17% {
        opacity: 1
    }

    50% {
        opacity: 1;
        /* animation-timing-function: ease-out; */
    }

    60%{
        opacity: 0;
    }

    100% {
        opacity: 0
    }
}

.img-responsive.vertical{
    max-height: 70%;
    object-fit: contain;
    margin-top: 0px;
}


@media screen and (max-width: 980px) {
    .img-responsive.horizontal{
        display: block;
    }
    .vertical{
        display: none;
    }
}

@media screen and (min-width: 981px) {
    .horizontal{
        display: none;
    }
    .vertical{
        display: block;
    }
}

@media only screen and (max-width: 980px){
    #mision img {
        margin: auto;
        width: 75%;
    }
}
@media only screen and (min-width: 768px){
    .elegirnos.horizontal{
        display: none;
    }
    .elegirnos.vertical{
        display: block;
    }
}
@media only screen and (max-width: 767px){
    .navbar-brand img {
        margin: 0px 35px;
    }
    .elegirnos.horizontal{
        display: block;
    }
    .elegirnos.vertical{
        display: none;
    }
}

@media only screen and (max-width: 480px){
    #home{
        height: 80vh;
    }
    .blur{
        max-height: 40%;
    }
}


.team-des h4{
    min-height: 40px !important;
}

.team-wrapper{
    min-height: 548px !important;
}

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1}
}

/* MODAL */
/* The Modal (background) */
.modal {
    opacity: 1;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 120px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation: fadeIn 0.5s ease-in 0s 1;
    animation-fill-mode: both;
  }
  
  /* Modal Content */
  .modal-content {
    opacity: 1;
    background-color: #fefefe;
    margin: auto;
    padding: 10px 30px;
    border: 1px solid #888;
    width: 25%;
    min-width: 300px;
    color: #333333;
    height: 90%;
  }
  .modal-content h4{
    color: #333333 !important;
  }
  
  /* The Close Button */
  .modal-content .close{
    background-color: #fff !important;
    color: #ff0000 !important;
    float: right;
    font-size: 28px;
    font-weight: bold;
    right: 3px;
    top: 3px;
  }
  .modal-content .close:hover,
  .modal-content .close:focus {
    color: #000 !important;
    text-decoration: none;
    cursor: pointer;
  }

#team .team-wrapper .team-des p a:hover{
    background-color: var(--greenAlt);
}

.navbar-default .navbar-nav > li > a {
    margin-right: 10px;
    font-size: 16px;
}

#about .fadeInLeft.animated{
    border-radius: 0px 0px 3px 3px !important;
}
/* #carga_proyecto .fadeInLeft.animated{
    border-radius: 0px 0px 3px 3px !important;
} */

/* Animacion on scroll */
.fadeTop {
    opacity: 0; 
    transform: translate(0, 10vh);
    transition: all 1s;
}
.visible {
    opacity: 1;
    transform: translate(0, 0);
}
#copyright {
    background-color: #303030 !important;
}
#certificaciones .cert-item .img-responsive{
    margin: auto !important;
}
.fa:before {
    font: normal normal normal 14px/1 FontAwesome !important;
}